version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    networks:
      - topocoin-network

  frontend:
    build: ./frontend
    ports:
      - "8501:8501"
    env_file:
      - ./frontend/.env
    depends_on:
      - backend
    networks:
      - topocoin-network

networks:
  topocoin-network:
    driver: bridge